@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #fff;
    font: normal 100%/1.5 sans-serif;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
    background-color: #d00071;
}

.nav {
  overflow: hidden;
  background-color: #d00071;
  height: 7em;
}

.banner {
    background-color: #d00071;
    margin: 0 auto;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    text-align: center;
    color: white;
    overflow: hidden;
    padding: em;
    letter-spacing: 1px;
    line-height: 200%;
}

.p2 {
  line-height: 150%;
}

.nav-btn {
  position: absolute;
  height: 2em;
  right: 2em;
  top: 2.5em;
  cursor: pointer;
  float: left;
  margin-left: 20px;
}

.navagation-dropdown {
    height: 0;
    transition: height 1s ease;
    overflow: hidden;
    background-color: #d00071; 
}

.js-nav-open {
  height: 6em;
  display: block;
  background-color: #AFBC24;
}

.first-list:hover {
    font-weight: 500;
    color: #efe3d3; 
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s; 
}

.menchieslogos {
    position: relative;
    max-width: 40em;
    margin:0 auto; 
    height: 36vw;
    max-height: 250px;
    padding-top: 2em;
}

#thewink {
    position: relative;
    height: 10vw;
    max-width: 10em;
    margin-bottom: 12em;
}

#thewink img{
    position:absolute;
    left:0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#thewink img.top:hover {
    opacity: 0;
}

.logo {
    width: 60%;
    position: relative;
    max-width: 20em;
}

[hidden] {
  display: none;
}

.tabs li {
  display: inline-block;
}

.js-current {
  background-color: red;
}

.thumbnails {
  margin: 0;
  padding: 0;
}

.thumbnails li {
  display: inline-block;
}

.thumbnails a {
  display: block;
}

.lightbox {
  position: fixed;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 200ms ease-out;
}

.lightbox[data-state="visible"] {
  opacity: 1;
  left: 0;
  right: 0;
}

.lightbox-container {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 15px;
  top: 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #000;
}

.lightbox-img {
  display: block;
  width: 100%;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2em);
  transform: translate(-50%, -50%);
}
.slidedown{
	animation-name: slidedown;
	-webkit-animation-name: slidedown;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}


@keyframes slidedown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slidedown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.header {
    padding: 0;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.title {
    margin: 0;
    position: relative;
    font-size: 4em;
}

.title:hover {
    color: #F28886;
    font-size: 4em;
}

p {
    padding: 0;
    margin: 1em;
}

button {
    border: 0;
    background: #AFBC24;
    border-radius: 5px;
    box-shadow: 0 5px 0 #8A713D;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin-top: 2.5em;
    outline: 1px;
    padding: 10px 30px;
    transition: all .2s linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:active {
    box-shadow: 0 3px 0 #006599;
    transform: translateY(3px);
}    

.kiwi {
    width: 60%;
    position: relative;
    padding-top: 10px;
    max-width: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideleft{
	animation-name: slideleft;
	-webkit-animation-name: slideleft;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideleft {
	0% {
		transform: translateX(100%);
	}
	50%{
		transform: translateX(-18%);
	}
	65%{
		transform: translateX(10%);
	}
	80%{
		transform: translateX(-10%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideleft {
	0% {
		-webkit-transform: translateX(100%);
	}
	50%{
		-webkit-transform: translateX(-18%);
	}
	65%{
		-webkit-transform: translateX(10%);
	}
	80%{
		-webkit-transform: translateX(-10%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}