@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #fff;
    font: normal 100%/1.5 sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
    background-color: #d00071;
}

.banner {
    background-color: #d00071;
    margin: 0 auto;
    text-align: center;
}

.menchieslogos {
    position: relative;
    max-width: 40em;
    margin:0 auto; 
    height: 36vw;
    max-height: 250px;
    padding-top: 3em;
}

#thewink {
    position: relative;
    height: 10vw;
    max-width: 10em;
    margin-bottom: 16em;
}

#thewink img{
    position:absolute;
    left:0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

#thewink img.top:hover {
    opacity: 0;
}

.logo {
    width: 60%;
    position: relative;
    max-width: 20em;
}

.header {
    padding-top: 2em;
}

.title {
    margin: 0;
    position: relative;
    font-size: 2em;
}

.title:hover {
    color: #F28886;
    font-size: 2em;
}

.subheader {
    padding-top: .2em;
    padding-bottom: 2em;
    position: relative;
    margin-bottom: .5em;
    font-size: 1em;
}

button {
    border: 0;
    background: #AFBC24;
    border-radius: 5px;
    box-shadow: 0 5px 0 #8A713D;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin: 1em;
    outline: 1px;
    padding: 10px 20px;
    transition: all .1s linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:active {
    box-shadow: 0 3px 0 #006599;
    transform: translateY(3px);
}    

.kiwi {
    width: 60%;
    position: relative;
    padding-top: 10px;
    max-width: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideleft{
	animation-name: slideleft;
	-webkit-animation-name: slideleft;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideleft {
	0% {
		transform: translateX(10%);
	}
	50%{
		transform: translateX(-18%);
	}
	65%{
		transform: translateX(8%);
	}
	80%{
		transform: translateX(-8%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideleft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-18%);
	}
	65%{
		-webkit-transform: translateX(8%);
	}
	80%{
		-webkit-transform: translateX(-8%);
	}
	95%{
		-webkit-transform: translateX(2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}