@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: #fff;
    font: normal 100%/1.5 sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

.banner {
    background-color: #d00071;
    margin: 0 auto;
    text-align: center;
}

.menchieslogos {
    position: relative;
    max-width: 40em;
    margin:0 auto; 
    height: 36vw;
    max-height: 250px;
    padding-top: 3em;
}

.menchie {
    width: 55%;
    margin: auto;
    position: relative;
}

.logo {
  width: 50%;
  position: relative;
}

.header {
    padding-top: 36em;
}

.title {
    margin: 0;
    padding-top: 1em;
    position: relative;
    font-size: 7em;
}

.subheader {
    padding-top: .2em;
    padding-bottom: 2em;
    position: relative;
    margin-bottom: .5em;
    font-size: 5em;
}
